
  <title>Bank App Profile</title>
  
    
  

  <div class="container">
    <h2>Bank App Profile</h2>
    <div class="profile-picture">
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135823.png" alt="Profile Picture">
    </div>
    <div class="profile-info">
      <label>Name:</label>
      <p>Sayera</p>
    </div>
    <div class="profile-info">
      <label>Email:</label>
      <p>saera@example.com</p>
    </div>
    <div class="profile-info">
      <label>Account Number:</label>
      <p>1234567890</p>
    </div>
   
  </div>
